<div fxLayout="row" fxLayoutAlign="center" class="white">
  <div fxLayout="column" fxLayoutGap="1rem" class="reservation-edit-container">
    <div fxLayout="row">
      <app-reservation-form class="full-width"
                            [disabled]="!reservationInformationLoaded"
                            [(reservation)]="reservation"
                            (formStatusChange)="onReservationFormStatusChange($event)">
      </app-reservation-form>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" class="reservation-update">
      <a mat-flat-button class="button" color="primary" (click)="onUpdateReservation()" [disabled]="reservationFormStatus!='VALID'" i18n>
        Update Reservation
      </a>
    </div>
  </div>
</div>
