.white {
  background-color: white;
}

.reservation-availability-container {
  padding: 1rem 2rem;
}

.reservation-availability-check {
  width: 12.8rem;
  height: 3.2rem;
  line-height: 3.2rem;
}

.reservation-availability-datepicker {
  width: 18.6rem;
}

h1 {
  margin-top: 1rem;
  font-size: 28pt;
}

h4 {
  font-size: 12pt;
}

.room-element {
  padding: 1rem 2rem;
}

.room-element:hover {
  background-color: #eeeeee;
}
