<div fxLayout="row" fxLayoutAlign="center" class="white">
  <div fxLayout="column" fxLayoutGap="1rem" class="reservation-create-container">
    <div fxLayout="row">
      <app-reservation-form class="full-width"
                            [(reservation)]="reservation"
                            (formStatusChange)="onReservationFormStatusChange($event)">
      </app-reservation-form>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" class="place-reservation">
      <a mat-flat-button class="button" color="primary" (click)="onCreateReservation()" [disabled]="reservationFormStatus!='VALID'" i18n>
        Place Reservation
      </a>
    </div>
  </div>
</div>
