<div fxLayout="row" fxLayoutAlign="center" class="white">
  <div fxLayout="column" fxLayoutGap="1rem" class="room-edit-container">
    <div fxLayout="row">
      <app-room-form [(room)]="room" (formStatusChange)="onRoomFormStatusChanged($event)" [disabled]="!roomInformationLoaded" fxFlex="1 1 0"></app-room-form>
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" class="update-room">
      <button mat-flat-button class="button" color="primary" (click)="onUpdateRoom()" [disabled]="roomFormStatus!='VALID'" i18n>
        Update Room
      </button>
    </div>
  </div>
</div>
